<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigurnosna aplikacija</title>
    <link rel="stylesheet" href="/sde.css">
</head>
<body> 
    <h1>Nesigurna pohrana osjetljivih podataka (Sensitive Data Exposure)</h1>
     <div class="buttons">
        <button onclick="window.location.href='/'">Početna</button>
        <button onclick="window.location.href='/xss'">Cross-Site-Scripting (XSS)</button>
    </div>   
    
    <div id="opis">
        <section>
            <h3>Što je nesigurna pohrana osjetljivih podataka?</h3>
            <p>Ovaj napad omogućava napadaču da dođe do osjetljivih podataka, kao što su brojevi kreditnih kartica, lozinke i drugi osjetljivi podaci koji nisu pravilno zaštićeni.</p>
        </section>
    </div>
    
    <div id="upute">
        <section>
            <h3>Upute:</h3>
            <p>Ovdje možete unijeti podatke kreditne kartice. Kada omogućite ranjivost, podaci se spremaju nesigurno.</p>
        </section>
    </div>

    <div class="container2">
            <label for="sdeCheckbox">Omogući SDE ranjivost:</label>
            <input type="checkbox" id="sdeCheckbox" onclick="toggleSDE()">
            
            <form id="cardForm" onsubmit="addCard(event)">
                <input type="text" name="cardNumber" placeholder="Unesite broj kartice" required>
                <input type="text" name="expiryDate" placeholder="Unesite datum isteka" required>
                <input type="text" name="cvv" placeholder="Unesite CVV" required>
                <button type="submit">Dodaj karticu</button>
            </form>
        </div>

        <div id="cards" style="display: none;">
            <h2>Pohranjene kartice</h2>
            
            <div id="cardsHeader">
                <div class="card">
                    <div class="card-header">Broj kartice</div>
                    <div class="card-header">Datum isteka</div>
                    <div class="card-header">CVV</div>
                </div>
            </div>

            <div id="cardsBody">
            </div>
        </div>
        

    <button id="delAllButton" onclick="deleteAllCards()" style="display: none">Obriši sve kartice</button>

    <script src="/sde.js"></script>
</body>
</html>
