<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigurnosna aplikacija</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Cross-site scripting (XSS)</h1>
        <div class="container">
            <label for="xssCheckbox">Omogući XSS ranjivost:</label>
            <input type="checkbox" id="xssCheckbox" onclick="toggleXSS()">
            
            <form id="commentForm" onsubmit="addComment(event)">
                <input type="text" name="comment" placeholder="Unesite komentar" required>
                <button type="submit">Dodaj komentar</button>
            </form>
        </div>
        
            
        <div id="comments">
            <h2>Komentar</h2>
        </div>
        
    <h1>Nesigurna pohrana osjetljivih podataka (Sensitive Data Exposure)</h1>
        <div class="container2">
            <label for="sdeCheckbox">Omogući XSS ranjivost:</label>
            <input type="checkbox" id="sdeCheckbox" onclick="toggleSDE()">
            
            <form id="cardForm" onsubmit="addData(event)">
                <input type="text" name="cardId" placeholder="Unesite broj kartice" required>
                <input type="text" name="date" placeholder="Unesite broj kartice" required>
                <input type="text" name="cvv" placeholder="Unesite broj kartice" required>
                <button type="submit">Dodaj karticu</button>
            </form>
        </div>
   
    <script src="/script.js"></script>
</body>
</html>
